body {
    padding-top: 2em;
}

main {
    padding: 4em 0;
}

/* Product Details Image Width */
.w-30rem {
    width: 30rem;
}

/* Star Rating Color */
.yellow {
    color: orange;
}

.justify-content-evenly {
    justify-content: space-evenly;
}